<div id="header">
	<div>
		<!-- <div> -->
		<%=image_tag 'logot.PNG'%>
		<!-- </div> -->

	</div>
	
	<div class="searchbar">
		<%=form_tag '/home/profile' do %>
		<%= autocomplete_field_tag 'userdetail', '', autocomplete_userdetail_name_home_index_path, :size => 75 ,id:"searchTerm"%> 
		<%= submit_tag 'search',class: "searchButton"%>
		<%end%>
	</div>
	<div>
	<%if !current_user %>
		<a class="waves-effect waves-light btn" href="/home/index">Login or Sign Up</a>
<%else%>
<a class="waves-effect waves-light btn" href="/home/index"><%=current_user.email%></a>
<%= link_to "Sign Out",destroy_user_session_path,method: :delete , class: "waves-effect grey lighten-2 btn" %>
<%end%>
	</div>
	
</div>
<div id="content">
</div>

 <style type="text/css">
 	.div-conatiner{
 		height: 200px;
 		width: 60%;
 		margin-left: 20%;
 		margin-right: 20%;
 		background-color: white;
 		padding: 50px;
 		margin-top: 30px;
 		box-sizing: border-box;
 		padding-top: 20px;
 		border: 1px solid lightgrey;
 	}
 	p{
 		font-size: 20px;
 	}
 </style>


<script type="text/javascript">
	setInterval(function(){
		var httpRequest = new XMLHttpRequest();
		
		httpRequest.onreadystatechange = function(){
			console.log("request was completed");
			console.log(httpRequest.readyState);
			console.log(httpRequest.status);
		
			if(httpRequest.readyState > 3){
				if (httpRequest.status === 200){
					 $('#content').empty();
					console.log(JSON.parse(httpRequest.responseText));
					var obj=JSON.parse(httpRequest.responseText);
					 var htmlText = '';
					for(var i=0;i<obj.data.organisation.length;i++)
					{
				htmlText += '<div class="div-conatiner">';
                htmlText += '<p class="p-name"> Name: ' + obj.data.organisation[i].name + '</p>';
                htmlText += '<p class="p-loc"> No of Slot: ' + obj.data.organisation[i].numslots + '</p>';
                htmlText += '<p class="p-desc"> No of Vacant Slot: ' + obj.data.organisation[i].numvacant + '</p>';
                htmlText += '<p class="p-created"> Address: ' + obj.data.organisation[i].address + '</p>';
                
                htmlText += '</div>';
						

					}
				}else{
					/*element.innerHTML = "Error";*/

				}
			}
			 $('#content').append(htmlText);

		};

		httpRequest.open('GET', 'http://localhost:3000/userdetail/index');
		httpRequest.send();

},2000);
</script>