						<li class="collection-item"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %>
<h1>h</h1>

<%= link_to 'Edit', edit_userdetail_path(@user[0]) %> |

              <%= link_to 'Upvote',url_for(controller: 'home', action: 'upvote'), method: :post,remote: true %><div id="upvote" > <%= @user[0].numvacant %></div>
              <%= link_to 'Downvote',url_for(controller: 'home', action: 'downvote'), method: :post,remote: true %>

