<div id="header">
    <div>
        <!-- <div> -->
        <%=image_tag 'logot.PNG'%>
        <!-- </div> -->

    </div>
    
    <div class="searchbar">
        <%=form_tag '/home/profile' do %>
        <%= autocomplete_field_tag 'userdetail', '', autocomplete_userdetail_name_home_index_path, :size => 75 ,id:"searchTerm"%> 
        <%= submit_tag 'search',class: "searchButton"%>
        <%end%>
    </div>
    <div>
    <%if !current_user %>
        <a class="waves-effect waves-light btn" href="/home/index">Login or Sign Up</a>
<%else%>
<a class="waves-effect waves-light btn" href="/home/index"><%=current_user.email%></a>
<%= link_to "Sign Out",destroy_user_session_path,method: :delete , class: "waves-effect grey lighten-2 btn" %>
<%end%>
    </div>
    
</div>
<div class="head">
  <%= image_tag("/uploads/backgr2.jpg") %>
</div>

<br>

<div class="main">
  <div class="left">

    <div class="feed">

      <div class="information">

        <h4>Slot Information</h4><br>
        <h6> Total Parking Slots:   <%= @userdetail.numslots %></h6><br>
        <h6> Current Empty Parking Slots:   <%= @userdetail.numvacant %></h6><br>
        <h4>Parking Area Details</h4><br>
        <h6>User Name:  <%= @userdetail.name %></h6><br>
        <h6>Contact Number: <%= @userdetail.mobilenum %></h6><br>
        <h6>Address: <%= @userdetail.address %></h6><br>
      </div>
    </div>
  </div>

  <div class="right">
    <h5>Location of <%= @userdetail.name %> parking area</h5>
    <div id="map"></div>
    <script>
        function initMap() {
            var uluru = {lat: <%= @userdetail.latitude %>, lng: <%= @userdetail.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOZYwWms1eEOrY-4B6C9Hgc1vAb8Y6DPM&callback=initMap">
    </script>

  </div>


</div>
