<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @userdetail.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @userdetail.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @userdetail.user %>
</p>
<a href="/home/index" class="waves-effect waves-light btn">continue</a>

<%= link_to 'Edit', edit_userdetail_path(@userdetail) %> |
<%= link_to 'Back', userdetails_path %>
